<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} - {{ book_title }}</title>
    <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar sticky-top bg-body-tertiary">
        <!-- <a href="javascript:window.history.back();" class="text-body ms-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left nav-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a> -->
        <a class="navbar-brand mx-auto" href="#">紀錄</a>
        <!-- <a href="/signin" class="text-body me-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle nav-icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </a> -->
    </nav>
    <main>
        <section class="container mt-5 mb-5">
            <h3 class="h3">閱讀紀錄</h3>
            {% for record in read_records %}
            <div class="card col-12 col-md-6 mt-2 mt-2">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ record.page_full_url }}" class="card-link link-offset-3 link-underline-secondary link-underline-opacity-0 link-underline-opacity-100-hover">{{ record.page_title }}</a></h5>
                    <p class="card-text"><span id="duration">{{ record.duration }}秒鐘</span>（<span id="update_datetime">{{ record.update_datetime }}</span>）</p>
                    <!-- <a href="{{ record.page_full_url }}" class="card-link link-offset-2 link-underline-secondary link-underline-opacity-0 link-underline-opacity-100-hover">繼續閱讀</a> -->
                </div>
            </div>
            {% endfor %}
        </section>

        <!-- topic list -->
        <section class="container mt-5 mb-5">
            <h3 class="h3">活動紀錄</h3>
            {% for record in activity_records %}
            <div class="card col-12 col-md-6 mt-2">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ record.page_full_url }}" class="card-link link-offset-3 link-underline-secondary link-underline-opacity-0 link-underline-opacity-100-hover">{{ record.page_title }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ record.question_title }}</h6>
                    {% if record.open == Flase %}
                    <p class="card-text"><span id="correct">{{ record.correct }}</span>，<span id="score">{{ record.score }}/{{ record.full_score }}</span></p>
                    {% else %}
                    <p class="card-text"><span id="answer">回答：{{ record.answer }}</span></p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>&copy; Cheng's Studio 2023</p>
    </footer>

    <script src="/static/js/dashboard.js"></script>
</body>
</html>