<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Learning</title>
    <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand">
            <h1>環境學習網</h1>
            <ul class="navbar-nav ms-auto me-5">
                <!-- <li><a class="nav-item" href="/about">關於我們</a></li> -->
                <!-- <li><a class="nav-item" href="/articles">環境讀物</a></li> -->
                <!-- <li><a class="nav-item" href="/topics">主題課程</a></li> -->
                <!-- <li><a class="nav-item" href="/websites">相關網站</a></li> -->
                <li class="nav-item ms-3 me-3"><a class="nav-link" href="/signin">登入</a></li>
                <li class="nav-item ms-3 me-3"><a class="nav-link" href="/signup">註冊</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- cover and slogan -->
        <section class="cover">
            <!-- Don't use this, use it for the company: "Make Earth a better place" -->
            <!-- <img src="static/image/cover.webp" alt="cover"> -->
            <h2>
                More Green,<br>
                More Better.
            </h2> <!-- more/go/buy/build/for/eat/use/...... -->
        </section>

        <!--  -->

        <!-- article list -->
        <section class="articles container mt-5 mb-5">
            <h3 class="h3">環境讀物</h3>
            <table class="table table-strip table-hover">
                <!-- <thead> -->
                    <!-- <tr> -->
                        <!-- <th class="col-9 col-sm-10">標題</th> -->
                        <!-- <th class="col-3 col-sm-2">更新日期</th> -->
                    <!-- </tr> -->
                <!-- </thead> -->
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td class="col-12">
                            <a href="/page/{{ article.id }}" class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{ article.title }}</a>
                        </td>
                        <!-- <td class="col-3 col-sm-2">{{ article.update_datetime }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- more articles link -->
        </section>

        <!-- topic list -->
        <section class="topics container mt-5 mb-5">
            <h3 class="h3">主題課程</h3>
            <table class="table table-strip table-hover">
                <!-- <tr>
                    <th class="col-12">主題</th>
                </tr> -->
                {% for topic in topics %}
                    <tr>
                        <td class="col-12"><a href="/book/{{ topic.id }}" class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-100-hover">{{ topic.title }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <!-- more topics link -->
        </section>

        <!--  -->
    </main>

    <footer>
        <p>&copy; Cheng's Studio 2023</p>
    </footer>

    <script src="/static/js/root.js"></script>
</body>
</html>